<div *ngIf="close" class="box-border p-12  z-10 fixed top-0 w-full h-screen bg-gray-300 bg-opacity-40 rounded-lg">
    <form (submit)='updatedUser(newInfo)' #newInfo='ngForm'>
    <div class="flex flex-col w-11/12 sm:w-5/6 lg:w-1/2 max-w-2xl mx-auto mt-20 rounded-xl  border border-gray-300 shadow-xl">
      <div
        class="flex flex-row justify-between p-6 bg-white border-b border-gray-200 rounded-tl-lg rounded-tr-lg"
      >
        <p class="font-semibold text-gray-800">Editar usuario</p>
        <svg (click)="closeModal()"
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </div>
  
      <div class="flex flex-col px-6 py-5 bg-gray-50">
          <p class="mb-2 font-semibold text-gray-700">Name</p>
          <input
          type="text"
          name="name" [ngModel]='user.name' #name='ngModel'
  
          class="p-2 mb-2 bg-white border border-gray-200 rounded shadow-sm h-10"
          >
          <p class="mb-2 font-semibold text-gray-700">E-mail</p>
          <input
          type="email"
          name="email" [ngModel]='user.email' #email='ngModel'
          class="p-2 mb-2 bg-white border border-gray-200 rounded shadow-sm h-10"
  
          >
          <p class="mb-2 font-semibold text-gray-700">Password</p>
          <input
          autocomplete="off"
          type="password"
          name="password" [ngModel]='user.password' #password='ngModel'
          class="p-2 mb-2 bg-white border border-gray-200 rounded shadow-sm h-10"
          disabled
          >
          <div class="flex flex-col sm:flex-row items-center mb-5 sm:space-x-5">
            <div class="w-full sm:w-1/2">
              <p class="mb-2 font-semibold text-gray-700">Rol</p>
              <p>
                <select name="rol" [(ngModel)]="seleccionado" #rol='ngModel' class="w-full p-2 bg-white border border-gray-200 rounded shadow-sm appearance-none">
                <option [value]="item.value" *ngFor="let item of lista">{{item.name}}</option>
                </select>
                </p>
              <!-- <select
              type="text"
              name="rol"  ngModel #rol='ngModel'
              class="w-full p-2 bg-white border border-gray-200 rounded shadow-sm appearance-none"
              >
              <option value='user'>User</option>
              <option value='admin'>Admin</option>
            </select> -->
          </div>
          <div class="w-full sm:w-1/2 mt-2 sm:mt-0">
            <p class="mb-2 font-semibold text-gray-700">Phone</p>
            <input
            type="tel"
            name="phone" [ngModel]='user.phone' #phone='ngModel'
            class="w-full p-2 bg-white border border-gray-200 rounded shadow-sm appearance-none"
            minlength="10"
            >
          </div>
        </div>
        <hr />
  
  
        <div class="flex flex-col sm:flex-row items-center mb-5 sm:space-x-5">
          <div class="w-full sm:w-1/2">
              <p class="mb-2 font-semibold text-gray-700">Account number</p>
              <input
                type="text"
                name="accNumber" [ngModel]='user.accNumber' #accNumber='ngModel'
                class="w-full p-2 bg-white border border-gray-200 rounded shadow-sm appearance-none"
                >
  
            </div>
            <div class="w-full sm:w-1/2 mt-2 sm:mt-0">
              <p class="mb-2 font-semibold text-gray-700">Address</p>
              <input
              type="text"
              name="address" [ngModel]='user.address' #address='ngModel'
                class="w-full p-2 bg-white border border-gray-200 rounded shadow-sm appearance-none"
  
                minlength="10"
                >
  
              </div>
            </div>
            <div
            class="flex flex-row items-center justify-between p-5 bg-white border-t border-gray-200 rounded-bl-lg rounded-br-lg">
            <p (click)="closeModal()" class="font-semibold text-gray-600">Cancel</p>
        <button type='submit' class="px-4 py-2 text-white font-semibold bg-blue-500 rounded">
          Save
        </button>
      </div>
    </div>
  </div>
  </form>
  </div>