<div class="flex flex-wrap justify-center ">
<!-- sizes w-6/12 h-60 -->
    <div class="transform hover:scale-125 transition duration-300 shadow-2xl rounded-2xl flex  order-1 justify-center items-center  w-auto h-auto m-10">
    <ngx-charts-bar-vertical 
    [view]="[600,300]"
    [results]="testData"
    [xAxisLabel]="'POCKETS'"
    [legendTitle]="'on-live'"
    [yAxisLabel]="'AMOUNT'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
</ngx-charts-bar-vertical> 


</div>
  
<div class="transform hover:scale-125 transition duration-300 shadow-2xl rounded-2xl m-10 flex order-2 justify-center items-center  w-auto h-auto">
<ngx-charts-advanced-pie-chart

    [view]="[600,300]"
    [results]="testData"
    [gradient]="true" >
</ngx-charts-advanced-pie-chart>

</div>


</div>
 
 
 