
<div class="flex flex-row gap-12">
<div  class="transform hover:scale-125 transition duration-300 bg-gradient-to-l from-green-300 via-green-400 to-green-500 rounded-lg shadow-2xl flex flex-col  w-96 h-60 order-1 justify-center ">
    <div class="  mt-20 rounded-lg  flex mx-auto   w-9/12 h-20 order-1 justify-center self-center items-center">
        <p class="flex  justify-self-center self-center m-0 p-0 text-4xl	 text-white font-bold">{{dataEntrante[0].saldo}}</p>
    </div>
    <div class="opacity-80 mb-2 rounded-lg  flex m-auto  w-60 h-10 order-2 justify-center items-end">
        <p class="flex justify-self-center self-end mb-2 p-0 text-4x1 text-white font-bold">DISPONIBLE</p>
    </div>
</div>
  <div  class="transform hover:scale-125 transition duration-300 bg-gradient-to-r from-yellow-200 via-yellow-300 to-yellow-400  rounded-lg shadow-2xl flex flex-col  w-96 h-60 order-1 justify-center ">
    <div class="  mt-20 rounded-lg  flex mx-auto   w-9/12 h-20 order-1 justify-center self-center items-center">
        <p class="flex  justify-self-center self-center m-0 p-0 text-4xl	 text-white font-bold">{{dataEntrante[1].saldo}}</p>
    </div>
    <div class="opacity-80 mb-2 rounded-lg  flex m-auto  w-60 h-10 order-2 justify-center items-end">
        <p class="flex justify-self-center self-end mb-2 p-0 text-4x1 text-white font-bold">VIATICOS ASIGNADOS</p>
    </div>
</div>

</div>

<div class="flex flex-row gap-12 ">
    <!-- RETIRAR DISPONIBLE -->
    <div class="opacity-80  rounded-lg  flex flex-col m-auto mt-20 w-auto h-14 order-3 justify-center items-center ">
        <div *ngIf='dis' class="flex w-auto ">
          <form (submit)='makeOperation(valueDis,dataEntrante[0].id)' #valueDis='ngForm'>
            <input class="opacity-80 w-60 rounded-lg justify-self-center self-center flex p-0 text-md  " type="number" name="valor" ngModel #valor='ngModel' id="">
            <input class="opacity-80 w-20 box-border flex rounded-lg justify-center  m-2  p-1 text-sm text-md text-white font-bold bg-gray-500" type="submit" value="Aceptar">
          </form>
        </div>

        <div class="flex w-auto mt-10">
            <input (click)='showDis()' type="button" value="RETIRAR DISPONIBLE" class="flex transform hover:scale-125 transition duration-300 rounded-lg  justify-center bg-gray-800 w-60 h-16 m-auto font-bold text-white">
        </div>
    </div>


    <!-- RETIRAR VIATICOS -->
    <div class="opacity-80  rounded-lg  flex flex-col m-auto mt-20 w-auto h-14 order-3 justify-center items-center ">
        <div *ngIf='via' class="flex w-auto ">
          <form (submit)='makeOperation(valueVia,dataEntrante[1].id)' #valueVia='ngForm'>
            <input class="opacity-80 w-60 rounded-lg justify-self-center self-center flex p-0 text-md  " type="number" name="valor" ngModel #valor='ngModel' id="">
            <input class="opacity-80 w-20 box-border flex rounded-lg justify-center  m-2  p-1 text-sm text-md text-white font-bold bg-gray-500" type="submit" value="Aceptar">
          </form>
        </div>

        <div class="flex w-auto mt-10">
            <input (click)='showVia()' type="button" value="RETIRAR VIÁTICOS" class="flex transform hover:scale-125 transition duration-300 rounded-lg  justify-center bg-gray-800 w-60 h-16 m-auto font-bold text-white">
        </div>
    </div>


</div>
