@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


*,*::before, *::after{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif;
    outline: 0;
}