<div class="flex-shrink min-w-full	transition-4 bg-blue-200 gap-4 md:flex flex-row flex-wrap justify-center items-center p-10  md:w-auto md:h-auto m-10">
    
    
        <!--GENERAL  -->
        <div class="bg-gradient-to-l from-green-300 via-green-400 to-green-500 rounded-lg shadow-2xl flex flex-col  w-80 h-60 order-1 justify-center "> 
            
         

            <div class="  mt-20 rounded-lg  flex mx-auto   w-9/12 h-20 order-1 justify-center self-center items-center">
                <p class="flex  justify-self-center self-center m-0 p-0 text-4xl	 text-white font-bold">{{valGen}}</p>
            </div>

            <div class="opacity-80 mb-2 rounded-lg  flex m-auto  w-60 h-10 order-2 justify-center items-end">
                <p class="flex justify-self-center self-end mb-2 p-0 text-4x1 text-white font-bold">GENERAL</p>
            </div>

          

        </div>




        <!-- OTROS -->
        <div class="rounded-lg flex flex-col gap-2  w-80 h-60 order-2 justify-center ">


                    <!-- pink -->
                    <div class="bg-gradient-to-r from-yellow-200 via-yellow-300 to-yellow-400  rounded-lg gap-2 shadow-2xl flex flex-col mx-auto my-0   box-border h-28 w-60 order-1 justify-center self-center items-center ">

                        <!-- val viaticos -->
                        <div class="p-0 rounded-lg  flex mx-auto   w-9/12 h-12 order-1 justify-center self-start mt-6 ">
                            <p class="flex  justify-self-center self-center m-0 p-0 text-2xl	 text-white font-bold">{{valGen}}</p>
                        </div>

                         
                        <!-- label viaticos -->
                         <div class="opacity-80 mb-2 rounded-lg  flex m-auto  w-60 h-10 order-2 justify-center items-end">
                            <p class=" justify-self-center self-end flex  p-0 text-md text-white font-bold">VIÁTICOS</p> 
                        </div>

                    </div> 

                    <!-- green -->
                    <div class="bg-gradient-to-r from-pink-300 via-pink-400 to-pink-500 rounded-lg shadow-2xl gap-2 flex flex-col mx-auto my-0 box-border h-28 w-60   order-2 justify-center self-center items-end">
                        <!-- val nomina -->
                        <div class=" p-0 rounded-lg  flex mx-auto   w-9/12 h-12 order-1 justify-center self-start mt-6 ">
                            <p class="flex  justify-self-center self-center m-0 p-0 text-2xl	 text-white font-bold">{{valNom}}</p>
                        </div>
                        <!-- label nomina -->
                        <div class="opacity-80 mb-2 rounded-lg  flex m-auto  w-60 h-10 order-2 justify-center items-end">
                            <p class=" justify-self-center self-end flex  p-0 text-md text-white font-bold">NÓMINA</p> 
                        </div>
                    </div>


        </div>   

</div>