<div class=" w-4/5 h-screen m-auto mt-30 flex flex-row justify-center gap-12 p-30 items-center">


    <div class="transform hover:scale-125 transition duration-300 pt-12 flex flex-col  bg-gradient-to-l from-green-300 via-green-400 to-green-500 rounded-lg shadow-2xl  w-96 h-4/5 order-1 justify-center ">
        <div class="  mt-20 rounded-lg  flex mx-auto   w-9/12 h-20 order-1 justify-center self-center items-center">
            <p class="flex  justify-self-center self-center m-0 p-0 text-4xl	 text-white font-bold">{{valGen}}</p>
        </div>
        <div class="opacity-80 mb-2 rounded-lg  flex m-auto  w-60 h-20 order-2 justify-center self-center">
            <p class="flex justify-self-center self-center mb-2 p-0 text-4xl text-white font-bold">GENERAL</p>
        </div>

        <div class="opacity-80  rounded-lg p-6 flex m-auto mb-10 w-auto h-14 order-3 justify-center self-end ">
            <input class="opacity-80  flex rounded-lg justify-self-center self-center m-2  p-0 text-md  " type="number" name="" id="">
            <input class="opacity-80 box-border flex rounded-lg justify-self-center self-center m-2  p-1 text-sm text-md text-white font-bold bg-gray-800" type="submit" value="Add">
        </div>

</div>

<div class="rounded-lg flex flex-col  gap-6  w-72 h-3/5 order-2 justify-center  ">
    <!-- pink -->
    <div class="transform hover:scale-125 transition duration-300 bg-gradient-to-r from-yellow-200 via-yellow-300 to-yellow-400  rounded-lg gap-2 shadow-2xl flex flex-col mx-auto my-0   box-border w-72 h-72 order-1 justify-center self-center items-center ">
        <!-- val viaticos -->
        <div class="p-0 rounded-lg  flex mx-auto   w-9/12 h-12 order-1 justify-center self-start mt-10 ">
            <p class="flex  justify-self-center self-center m-0 p-0 text-2xl	 text-white font-bold">{{valVia}}</p>
        </div>
        <!-- label viaticos -->
         <div class="opacity-80  rounded-lg  flex m-auto mt-2 w-60 h-10 order-2 justify-center items-center">
            <p class=" justify-self-center self-center flex  p-0 text-md text-white font-bold">VIÁTICOS</p>
        </div>

        <div class="opacity-80  rounded-lg  flex m-auto mt-2 w-auto h-14 order-3 justify-center items-center">
            <input class="opacity-80  rounded-lg justify-self-center self-center flex p-0 text-md  " type="number" name="" id="">
            <input class="opacity-80  box-border flex rounded-lg justify-self-center self-center m-2  p-1 text-sm text-md text-white font-bold bg-gray-800" type="submit" value="Add">
        </div>

    </div>
    <!-- green -->
    <div class="transform hover:scale-125 transition duration-300 bg-gradient-to-r from-pink-300 via-pink-400 to-pink-500 rounded-lg shadow-2xl gap-2 flex flex-col mx-auto my-0 box-border h-72 w-72   order-2 justify-center self-center items-end">
        <!-- val nomina -->
        <div class=" p-0 rounded-lg  flex mx-auto   w-9/12 h-12 order-1 justify-center self-start mt-10 ">
            <p class="flex  justify-self-center self-center m-0 p-0 text-2xl	 text-white font-bold">{{valNom}}</p>
        </div>
        <!-- label nomina -->
        <div class="opacity-80  rounded-lg  flex m-auto mt-2 w-60 h-10 order-2 justify-center items-center">
            <p class=" justify-self-center self-center flex  p-0 text-md text-white font-bold">NÓMINA</p>
        </div>

        <div class="opacity-80  rounded-lg  flex m-auto mt-2 w-auto h-14 order-3 justify-center items-center ">
            <input class="opacity-80  rounded-lg justify-self-center self-center flex p-0 text-md  " type="number" name="" id="">
            <input class="opacity-80  box-border flex rounded-lg justify-self-center self-center m-2  p-1 text-sm text-md text-white font-bold bg-gray-800" type="submit" value="Add">
        </div>

    </div>
</div>
</div>
