<div class="bg-black w-4/5 h-5/6 m-auto mt-30">


    <div class="pt-12 flex-col m-auto transform hover:scale-100 transition duration-300 bg-gradient-to-l from-green-300 via-green-400 to-green-500 rounded-lg shadow-2xl  w-60 h-96 order-1 justify-center "> 
        <div class="  mt-20 rounded-lg  flex mx-auto   w-9/12 h-20 order-1 justify-center self-center items-center">
            <p class="flex  justify-self-center self-center m-0 p-0 text-4xl	 text-white font-bold">{{valGen}}</p>
        </div>
        <div class="opacity-80 mb-2 rounded-lg  flex m-auto  w-60 h-10 order-2 justify-center items-center">
            <p class="flex justify-self-center self-center mb-2 p-0 text-4x1 text-white font-bold">GENERAL</p>
        </div>


</div>