@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.is-active{

    background-color: #78350F;

}

