<div class="m-auto mt-20  mb-10 table w-4/5 p-2 ">



    <table class="w-full border ">
        <thead>
            <tr class="bg-gray-50 border-b ">
  
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        ID
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                        </svg>
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        Name
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                        </svg>
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        Email
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                        </svg>
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        Acc Number
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                        </svg>
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        Action
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                        </svg>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
  
            <tr *ngFor='let i of users' class="bg-gray-100 text-center border-b text-sm text-gray-600">
                <td class="p-2 border-r">{{i.id}}</td>
                <td class="p-2 border-r">{{i.name}}</td>
                <td class="p-2 border-r">{{i.email}}</td>
                <td class="p-2 border-r">{{i.accNumber}}</td>
                <td>
                    <button  class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin" (click)="showModalEdit(i.id)" >Edit</button>
                    <button  class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin"(click)='deleteUser(i.id)'>Remove</button>
                    <button  class="bg-green-500 p-2 text-white hover:shadow-lg text-xs font-thin" (click)='viaticos(i.id)'>Viáticos</button>
                </td>
            </tr>
        </tbody>
    </table>
  
  </div>
  
  <div *ngIf="show">
    <app-add-edit></app-add-edit>
  
  </div>
  <div *ngIf="showEdit">
    <app-edit-user [messageId]='userEditId'></app-edit-user>
  </div>
  
  
  <div class="flex justify-end  w-4/5 m-auto">
    <button (click)="pagoUsers()" class="transform hover:scale-125 transition duration-300 rounded-lg flex justify-center items-center bg-indigo-500 p-2 text-white hover:shadow-lg text-3xl font-light  w-96 h-20 m-auto">GENERAR PAGO</button>
    <button (click)="showModal()"  class="transform hover:scale-125 transition duration-300 rounded-lg flex justify-center items-center bg-green-500 p-2 text-white hover:shadow-lg text-3xl font-light  w-96 h-20 m-auto">AÑADIR</button>
  </div>